.hide{
    display: none;
}

#start{
    text-align: center;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: xx-large;
}


#timer{
    
    color: blueviolet;
    text-align: right;
    font-weight: 900;
    font-size: 20px;
    font-family: cursive;
}

a{
    text-align: left;
    margin-top: -30px;
    position: fixed;
    font-size: 20px;
    font-weight: 900;
    color: blueviolet;
    font-family: cursive;
}

.container{
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    font-family: fantasy;
}

#question{
    font-size: xx-large;
}

.btn-instructions{
    background-color: blueviolet;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}
#question-result{
    text-decoration-line: overline;
    font-style: italic;
    margin-top: 10px;
    margin-right: 15px;
}

#highscores ol{
    display: inline-block;
}

#go-back{
    margin-left: 825px;
    font-weight: 700;
}
