.hide{
    display: none;
}

.show{
    display: block;
}

#timer{
    
    color: blueviolet;
    text-align: right;
    font-weight: 900;
    font-size: 20px;
    font-family: cursive;
}

a{
    text-align: left;
    margin-top: -30px;
    position: fixed;
    font-size: 20px;
    font-weight: 900;
    color: blueviolet;
    font-family: cursive;
}

.question-block{
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    font-family: fantasy;
}

#question{
    font-size: xx-large;
}

/* .choice-btn{
    color: blueviolet;
} */
/* .btn-lg{
    color: blueviolet;
} */

/* li{
    margin-left: 750px;
    margin-right: 1000px;
} */
button{
    margin-right: 50px;
    font-size: 15px;
    color: black;
    border-style: solid;
    width: 100px;
}
#question-result{
    text-decoration-line: overline;
    font-style: italic;
    margin-top: 10px;
    margin-right: 15px;
}
